
<h4>Team Name: <%= @team.name %></h4>
<h4>Team Motto: <%= @team.motto %></h4>


<% @heroes.each do |hero| %>
    <h2>Hero's Name: <%= hero.name%></h2>
    <p>Hero's Power: <%= hero.power%></p>
    <p>Hero's Biography: <%= hero.biography%></p>
<%end%>
